@using Web.Helpers
@inherits WebExtensions.MVC.WebLayout<WebExtensions.ViewModels.SubCategoryMoviesViewModel>
@{
    Layout = "Shared/_InnerLayout.cshtml";

    var paging = Html.GetPages(Model.Movies.Count(), 30);
    paging.Id = Model.Id;
    var selectedMovies = Model.Movies.OrderByDescending(x => x.CreateDate).Skip(paging.Skip).Take(paging.Take).ToList();
}
@if (!Model.HideTitle)
{
    <h1 class="purple">@Model.Name</h1>
}
<div class="row">
    <div class="col-md-12">
        @if (!Model.HideSideMenu)
        {
            <div class="col-md-2">
                @Html.CachedPartial("_SideNav", Model.SideNav, 5, true)
            </div>
        }
        <div class="@(!Model.HideSideMenu?"col-md-10":"col-md-12")">
            @Html.Partial("_Paging", paging)
            <div class="text-cat">
                @Html.Raw(Model.PageBody)
            </div>
            <ul class="category-list">
                @foreach (var item in selectedMovies)
                {
                    <li>
                        <figure>
                            <a href="@item.YouTubeUrl" data-type="iframe" class="fancybox">
                                <img src="@item.SmallImageUrl" alt="@item.Name" />
                            </a>
                            <figcaption>@item.Name</figcaption>
                        </figure>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
